/* Mobile first (Petits écrans) */
.dashboard {
  padding: var(--spacing-medium);
}

.carousel {
  display: block;
  margin-bottom: var(--spacing-large);
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots {
  bottom: -15px;
}

.slick-prev,
.slick-next {
  display: none;
}

.slick-dots li button:before {
  color: var(--color-primary);
}

.slick-dots li.slick-active button:before {
  color: var(--color-secondary);
}

.carousel .card {
  margin-bottom: 0;
}

.actions {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xlarge);
}

.transactions {
  width: 100%;
  overflow-x: auto;
}

.charts-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

.mobile-layout {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-large);
}

.chart {
  width: 100%;
}

/* Desktop (Grille à partir de 768px) */
@media (min-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 colonnes égales */
    grid-template-rows: auto auto minmax(100px, max-content) auto; /*4 rangées */
    grid-column-gap: 2rem;
    grid-row-gap: 0.5rem;
    margin: 0 2rem;
  }

  .cards {
    width: 100%;
  }

  /* Divisions de la grille */
  .div1 {
    grid-area: 1 / 1 / 2 / 4; /* Header sur 3 colonnes */
  }

  .icon {
    margin: 0;
  }

  .icon {
    margin: 0;
  }

  .div2 {
    grid-area: 2 / 1 / 3 / 2; /* Solde sur la première colonne */
  }

  .div3 {
    grid-area: 2 / 2 / 3 / 3; /* Dépenses sur la deuxième colonne */
  }

  .div4 {
    grid-area: 2 / 3 / 3 / 4; /* Rentrées d'argent sur la troisième colonne */
  }

  .div5 {
    grid-area: 3 / 1 / 5 / 2; /* Doughnut Chart sur 2 colonnes */
  }

  .div6 {
    grid-area: 3 / 2 / 4 / 4; /* Boutons d'actions sur la troisième colonne */
  }

  .div7 {
    grid-area: 4 / 2 / 5 / 4; /* Transactions sur la totalité de la largeur */
  }

  .charts-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-large);
  }

  .chart-and-transactions {
    display: flex;
    gap: var(--spacing-large);
  }

  .chart {
    flex: 1;
    margin-right: var(--spacing-large);
  }

  .transactions {
    flex: 1;
    overflow: auto;
  }
}
