.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Taille du conteneur */
}

.spinner {
  width: 100px; /* Taille de l'image du spinner */
  height: 100px;
  animation: spin 2s linear infinite; /* Animation de rotation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
